---

interface Props {
  company: string;
  position: string;
  summary: string;
  startDate: string;
  endDate: string;
}

const { company, position, summary, startDate, endDate } = Astro.props
---

<div
  class="relative ml-12 mr-0 sm:mx-12 pb-6 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <span class="text-secondary-100 primary -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <h3 class="text-xl font-bold text-secondary-100">{position}</h3>
      <h4 class="font-semibold text-xl text-gray-600 dark:text-white">{company}</h4>
      <p class="text-on_primary_container dark:text-on_primary_container"> {startDate} - {endDate} </p>
    </div>
  </div>
  <div class="relative flex flex-col gap-2 pb-4 text-white dark:text-white md:col-span-3">
    {summary}
  </div>
</div>